.lobby-players-container {
    width: 100%;
}

.lobby-key-info {
    width: 100%;
}

.lobby-key-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 20px;
}

.lobby-key {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.player1-player2-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    width: 80%;
}

.lobby-player1-info {
    flex: 1;
}

.lobby-player1-username {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

.lobby-player1-char-model {
    display: flex;
    justify-content: center;
}

.lobby-player2-info {
    flex: 1;
}

.lobby-player2-username {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

.lobby-player2-char-model {
    display: flex;
    justify-content: center;
}
